<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS</title>
</head>
<body>
    <h1>Library Management System</h1>
    <table>
        <tr>
            <th>Book ID</th>
            <th>Branch ID</th>
            <th>Title</th>
            <th>Publishers</th>
            <th>Number of Copies</th>
        </tr>
        {% for book in books %}
        <tr>
            <td> {{ book[0]}} </td>
            <td> {{ book[1]}} </td>
            <td> {{ book[3]}} </td>
            <td> {{ book[2]}} </td>
            <td> {{ book[4]}} </td>
        </tr>
        {% endfor %}
    </table>

    <form method="post" action="{{ url_for('checkout') }}">
        <input type="text" name="cardno" id="cardno" placeholder="Card Number">
        <input type="text" name="bookid" id="bookid" placeholder="Book ID">
        <input type="text" name="branchid" id="branchid" placeholder="Branch ID">

        <button type="submit" id="checkoutBtn">Checkout</button>
    </form> 
   
    <br>
    <a href="{{ url_for('borrower') }}"><button>Not a member?</button></a>
    <a href="{{ url_for('book') }} "><button>Add a book</button></a>
    <a href="{{ url_for('find_book') }}""><button>Find a book</button></a>
    <a href="{{ url_for('find_loan') }}""><button>Look up a loan</button></a>
    <a href="{{ url_for('latefees') }}""><button>Late fees</button></a>


    <!-- JS alert if card_no is empty entered when checking out -->
    <script>
        document.getElementById('checkoutBtn').addEventListener('click', function() {

            var cardNoValue = document.getElementById('cardno').value;
            var bookIdValue = document.getElementById('bookid').value;

            if (cardNoValue === '' && bookIdValue === '') {
                alert("Make sure you entered all fields.");
                event.preventDefault();
            }
        });
    </script>
    
</body>
</html>